<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{text-align: center;
        color: rgb(1, 1, 99);}
        hr{border-width: 5px;
        border-color: rgb(251, 251, 67);}
        p{text-align: center;
        font-size: 20px;}
        body{
            background-color: rgba(7, 187, 124, 0.661);
        }
    </style>
</head>
<body>
    {% load static %} <img src="{% static "1marakpmb-merah.png" %}" alt="home"  width="70%" height="120px"/>
    <br><br>
    
    <br>
   <h1>KPM BERANANG STUDENT MODULE</h1>
<p>
    <a href = "{% url 'newstudent' %}">Click to Add New Student</a><br>
    
</p>
    
</body>
</html>